@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
  --border-radius: 15px;
  --border-radius-btn: 8px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 15px;
  --spacing-lg: 20px;
  --spacing-xl: 30px;
  --spacing-xxl: 40px;
  --container-width: 700px;
  --grey: #f5f5f5;
  --shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.125);
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 12px;
  font-family: 'Gloria Hallelujah', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: var(--container-width);
  margin: 0 auto;
  background-color: rgb(223, 223, 223);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
}

.container > * {
  width: 100%;
}

.score {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
}

.score > * {
  background-color: rgb(35, 35, 35);
  color: white;
  padding: 1rem 0;
  border-radius: var(--border-radius);
}

.container-play-field {
  max-width: var(--container-width);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  background-color: rgb(35, 35, 35);
  padding: 1rem;
  border-radius: var(--border-radius);
}

.play-field {
  font-size: 100px;
  font-weight: bold;
  height: 175px;
  border-radius: var(--border-radius);
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(223, 223, 223);
}

input[type='text'],
button {
  box-shadow: var(--shadow);
}

.x::before {
  content: 'X';
}

.o::before {
  content: 'O';
}

.x::before,
.o::before {
  position: absolute;
  color: rgba(0, 0, 0, 0.2);
  transition: 150ms ease-in-out;
  opacity: 0;
}

.x:hover::before {
  opacity: 1;
}

.o:hover::before {
  opacity: 1;
}

footer {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
}

.btn-reset {
  background-color: rgb(35, 35, 35);
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  transition: 200ms ease-in-out;
}

.btn-reset:hover {
  background-color: black;
}

.modal {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-out;
  background-color: rgb(223, 223, 223);
  padding: 1rem;
  border-radius: 10px;
  z-index: 10;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(223, 223, 223);
  z-index: 9;
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-win {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-out;
  background-color: black;
  color: white;
  padding: 10rem;
  font-size: 2rem;
  border-radius: 10px;
  z-index: 11;
}

.modal-win.active {
  transform: translate(-50%, -50%) scale(1);
}

.form-win {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.win-button {
  width: 100%;
  font-size: 1.25rem;
  padding: 0.25rem;
}

.form-container form {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.form .form-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-container h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
  word-spacing: 3rem;
}

.player-one,
.player-two {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input[type='text'],
button {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1rem;
}

input[type='text'] {
  appearance: none;
  outline: none;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 8px;
}

button {
  border: none;
  border-radius: var(--border-radius-btn);
  font-size: 1rem;
}

.btn-player-1,
.btn-bot-1,
.name-player-1 {
  background-color: #1f51ff;
  color: white;
}

.btn-player-2,
.btn-bot-2,
.name-player-2 {
  background-color: #d22b2b;
  color: white;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.btn-start-game {
  margin-top: 1.5rem;
  width: 100%;
  background-color: black;
  color: white;
}

.btn-player-1,
.btn-player-2,
.btn-bot-1,
.btn-bot-2,
.name-player-1,
.name-player-2,
.btn-start-game {
  font-size: 1.125rem;
  padding: 0.5rem 0;
  transition: 100ms ease-in-out;
}

.btn-player-1:hover,
.btn-player-2:hover,
.btn-bot-1:hover,
.btn-bot-2:hover,
.name-player-1:hover,
.name-player-2:hover,
.btn-start-game:hover {
  -ms-transform: scale(1.025);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

img {
  height: 300px;
  border-radius: var(--border-radius);
  pointer-events: none;
}

.hidden {
  display: none;
}

.selected {
  background-color: black;
  color: white;
}

footer .player-scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.refresh {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 5px 20px;
  font-size: 1.75rem;
  background-color: rgb(35, 35, 35);
  color: white;
  transition: 200ms ease-in-out;
}

.refresh:hover {
  background-color: black;
}

.git-watermark {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 12;
  top: 0.25rem;
  right: 0.25rem;
}

.git-logo {
  height: 24px;
  padding-right: 3px;
}
